#text{
    display:inline-block;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius:50px ;
    position: absolute;
    transition: ease-out;
    
}
*{
    color: green;
    font-family: 'Courier New', Courier, monospace;
}
body{
    
    background-color: black;
}
#div{
    position: relative;
    padding: 25px;
    background-color: green;
    margin: 10vh;
    height: 40vh;
    border: 2px solid black;
}